#nuestros-servicios {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;

    h2 {
        padding-top: 100px;
    }


    .card {
        margin: 50px auto;
        border: none;

        .card-body {
            background-color: rgb(30, 30, 30);

            .card-title {
                color: #f8b8d5;
                font-weight: bold;
            }

            .card-text {
                color: #f8b8d5;
            }

            .btn-primary {
                /* --bs-btn-bg: #f8b8d5;
            --bs-btn-border-color: 1px rgba(0,0,0,0.3);
            box-shadow: 2px 2px 10px rgba(0,0,0,0.5); */
                color: rgba(255, 255, 255, 0.9) !important;
                font-size: 1em;
                font-weight: bold;
                padding: 10px 20px;
                background-color: #f8b8d5;
                border: 2px solid;
                border-radius: 5px;
                border-color: rgb(248, 184, 213);
                position: relative;
                --bs-btn-hover-bg: rgba(248, 184, 213, 1);
                --bs-btn-hover-border-color: #f8b8d5;
                --bs-btn-bg: #f8b8d5;
                --bs-btn-border-color: #f8b8d5;
                --bs-btn-active-bg: #f8b8d5;
                --bs-btn-active-border-color: #f8b8d5;
                --bs-btn-disabled-bg: #f8b8d5;
                --bs-btn-disabled-border-color: #f8b8d5;

                &:hover {
                    color: rgba(255, 255, 255, 1) !important;
                    box-shadow: 0 4px 16px rgba(248, 184, 213, 1);
                    transition: all 0.2s ease;
                    /* --bs-btn-hover-bg:rgba(248, 184, 213, 1); */
                }
            }

        }
    }
}