#somos-alegrarte .container {
    text-align: center;
    padding: 200px 12px;

    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        max-width: 750px;
        margin: auto;
    }
}